In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datasets/2020_Census_Blocks.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91626 entries, 0 to 91625
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OBJECTID          91626 non-null  int64
 1   State             91626 non-null  int64
 2   COUNTY            91626 non-null  int64
 3   CT20              91626 non-null  int64
 4   BG20              91626 non-null  int64
 5   CB20              91626 non-null  int64
 6   CTCB20            91626 non-null  int64
 7   FEAT_TYPE         91626 non-null  object
 8   FIP20             91626 non-null  int64
 9   BGFIP20           91626 non-null  int64
 10  CITY              91626 non-null  object
 11  COMM              42565 non-null  object
 12  CITYCOMM          91626 non-null  object
 13  ZCTA20            90970 non-null  float64
 14  HD22              91516 non-null  float64
 15  HD_NAME           91516 non-null  object
 16  SPA22             91516 non-null  float64
 17  SPA_NAME          91516 non-null  object
 18  SUP21             91626 non-null  int64
 19  SUP_LABEL         91626 non-null  object
 20  POP20             91626 non-null  int64
 21  HOUSING20         91626 non-null  int64
 22  FIP_CURRENT       91626 non-null  int64
 23  BG20FIP_CURRENT   91626 non-null  int64
 24  CITY_CURRENT      91626 non-null  object
 25  COMM_CURRENT      42529 non-null  object
 26  CITYCOMM_CURRENT  91626 non-null  object
 27  ShapeSTArea       91626 non-null  float64
 28  ShapeSTLength     91626 non-null  float64
dtypes: float64(5), int64(14), object(10)
memory usage: 20.3+ MB

In [4]:
df.head()

,OBJECTID,State,COUNTY,CT20,BG20,CB20,CTCB20,FEAT_TYPE,FIP20,BGFIP20,...,SUP_LABEL,POP20,HOUSING20,FIP_CURRENT,BG20FIP_CURRENT,CITY_CURRENT,COMM_CURRENT,CITYCOMM_CURRENT,ShapeSTArea,ShapeSTLength
0,1,6,37,109300,1093002,2015,1093002015,Land,44000,109300244000,...,District 3,80,21,44000,109300244000,Los Angeles,Granada Hills,Los Angeles - Granada Hills,1.927920e+05,1868.300238
1,2,6,37,109300,1093001,1007,1093001007,Land,44000,109300144000,...,District 3,63,17,44000,109300144000,Los Angeles,Granada Hills,Los Angeles - Granada Hills,3.572047e+05,3699.075975
2,3,6,37,111100,1111001,1005,1111001005,Land,44000,111100144000,...,District 3,56,25,44000,111100144000,Los Angeles,Granada Hills,Los Angeles - Granada Hills,2.554624e+05,2487.624427
3,4,6,37,111202,1112023,3009,1112023009,Land,44000,111202344000,...,District 3,99,30,44000,111202344000,Los Angeles,Granada Hills,Los Angeles - Granada Hills,2.895897e+05,2568.771746
4,5,6,37,113101,1131011,1011,1131011011,Land,44000,113101144000,...,District 3,242,81,44000,113101144000,Los Angeles,Chatsworth,Los Angeles - Chatsworth,1.207529e+06,5298.323152

In [5]:
print(df['COMM'])

0        Granada Hills
1        Granada Hills
2        Granada Hills
3        Granada Hills
4           Chatsworth
             ...
91621              NaN
91622              NaN
91623              NaN
91624              NaN
91625              NaN
Name: COMM, Length: 91626, dtype: object

In [6]:
population_by_area = df.groupby('COMM')['POP20'].sum()

# Convert the result to a DataFrame if needed
population_by_area_df = population_by_area.reset_index(name='Population')

In [7]:
print(population_by_area_df)

                COMM  Population
0              Acton        7798
1    Adams-Normandie        7590
2         Agua Dulce        4120
3             Alsace       10553
4           Altadena       42846
..               ...         ...
251       Wilmington       51491
252  Wilshire Center       47107
253         Winnetka       49433
254         Wiseburn        5786
255   Woodland Hills       71274

[256 rows x 2 columns]

In [1]:
dataPath = "datasets/Crime_Data_from_2020_to_Present_20240305.csv"
data = pd.read_csv(dataPath)
data.columns
data.head()

NameError: name 'pd' is not defined

In [16]:
distinct_area_names = data['AREA'].drop_duplicates()
print(distinct_area_names)

0      7
1      1
2      3
3      9
4      6
5     18
8     13
9     19
12     2
13     4
14    10
22     8
25    20
27    21
28    11
30    12
35    14
39    15
53     5
55    16
59    17
Name: AREA, dtype: int64

In [22]:
for area_name in distinct_area_names:
    corresponding_names = data[data['AREA'] == area_name]['AREA NAME'].unique()
    print("Area:", area_name)
    print(corresponding_names)

Area: 7
['Wilshire']
Area: 1
['Central']
Area: 3
['Southwest']
Area: 9
['Van Nuys']
Area: 6
['Hollywood']
Area: 18
['Southeast']
Area: 13
['Newton']
Area: 19
['Mission']
Area: 2
['Rampart']
Area: 4
['Hollenbeck']
Area: 10
['West Valley']
Area: 8
['West LA']
Area: 20
['Olympic']
Area: 21
['Topanga']
Area: 11
['Northeast']
Area: 12
['77th Street']
Area: 14
['Pacific']
Area: 15
['N Hollywood']
Area: 5
['Harbor']
Area: 16
['Foothill']
Area: 17
['Devonshire']

In [24]:
import csv
data = [
    (7, "Wilshire", 144067),
    (1, "Central", 46481),
    (3, "Southwest", 314362),
    (9, "Van Nuys", 101037),
    (6, "Hollywood", 60812),
    (18, "Southeast", 293553),
    (13, "Newton", 103892),
    (19, "Mission", 18752),
    (2, "Rampart", 164961),
    (4, "Hollenbeck", 200000),
    (10, "West Valley", 23555),
    (8, "West LA", 35844),
    (20, "Olympic", 40000),
    (21, "Topanga", 8560),
    (11, "Northeast", 243925),
    (12, "77th Street", 175000),
    (14, "Pacific", 28811),
    (15, "N Hollywood", 71231),
    (5, "Harbor", 135420),
    (16, "Foothill", 35824),
    (17, "Devonshire", 41255)
]

# Define the file name
file_name = "area_population.csv"

# Write data to CSV file
with open(file_name, mode="w", newline="") as file:
    writer = csv.writer(file)
    # Write header
    writer.writerow(["Area Code", "Area Name", "Population"])
    # Write data rows
    writer.writerows(data)

print("Data has been exported to", file_name)

Data has been exported to area_population.csv

In [25]:
df2 = pd.read_csv('area_population.csv')
df2.head()

   Area Code  Area Name  Population
0          7   Wilshire      144067
1          1    Central       46481
2          3  Southwest      314362
3          9   Van Nuys      101037
4          6  Hollywood       60812